# ==============================================================================
# THEDAL — Wazuh App Plugin Configuration (Synchronized)
# ==============================================================================
hosts:
  - default:
      url: https://127.0.0.1
      port: {{ wazuh_api_port }}
      user: {{ wazuh_api_username }}
      password: {{ wazuh_api_password }}
      run_as: true
